.Testimonial {
    padding: 40px 5%;
}

.Testimonial .container {
    position: relative;
}

.Testimonial .container .prev_btn,
.Testimonial .container .next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212ea0;
    z-index: 0;
}

.Testimonial .container .prev_btn {
    left: 5%;
}

.Testimonial .container .next_btn {
    right: 5%;
}

.Testimonial .container .slider {
    overflow: hidden;
}

.Testimonial .container .slider ul {
    list-style: none;
    display: flex;
    width: 200%;
    transition: 0.5s;
    overflow: hidden;
}

.Testimonial .container .slider ul li {
    flex-basis: 50%;
    padding: 20px;
}

.Testimonial .container .slider ul li .slide {
    box-shadow: 0 0 20px #0000000d;
    padding: 40px;
    border-radius: 10px;
    line-height: 1.3;
    background-color: white;
}

.Testimonial .container .slider ul li .slide .std_info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Testimonial .container .slider ul li .slide .std_info .std_img {
    border: 4px solid #212ea0;
    width: 65px;
    margin-right: 20px;
    border-radius: 50%;
}