@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Carter+One&family=Catamaran:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;

}

.common_btn {
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.common_btn span {
    margin-left: 10px;
}

.bgWhite {
    background-color: #fff;
}

.bgBlue {
    background-color: #212EA0;
}
.textBlue{
    color: #212EB3;
}
.textDarkblue{
    color: #000F38;
}
.textBlack {
    color: #212121;
}
.textGray{
    color: #676767;
}
.textWhite {
    color: #ffffff;
}
 .mb-3{
    margin-bottom: 15px;
 }
.container {
    padding: 0px 10%;
}

/* max-width 1050px */
@media (max-width:1050px) {
    .container {
        padding: 0px 5%;
    }
}

/* max-width 1050px */
/* max-width 850px */
@media (max-width:850px) {
    .common_btn {
        padding: 10px 15px;
    }
}

/* max-width 850px */