.Navheader {
    padding: 10px 0px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.Navheader.dark-nav {
    background-color: #212ea0;
    transition: all 0.5s;
}

.Navheader .container {
    display: flex;
    justify-content: space-between;
}

.Navheader .container .logo img {
    width: 180px;
}

.Navheader .container ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Navheader .container ul li {
    padding: 0px 15px;
    cursor: pointer;
}

.Navheader .menu-icon {
    display: none;
}

/* responsive */
/* max-width 1050px */
@media (max-width:1050px) {
    .Navheader .container ul li {
        padding: 0px 8px;
    }
}

/* max-width 1050px */
/* max-width 850px */
@media (max-width:850px) {
    .Navheader .container .logo img{
        width: 140px;
    }
    .Navheader .menu-icon {
        display: block;
        width: 32px;
        height: 22px;
        cursor: pointer;
        margin-top: 5px;
    }

    .Navheader .container ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212ea0;
        z-index: -1;
        width: 200px;
        padding: 70px 20px;
        transition: .5s;
        flex-direction: column;
        align-items: start;
    }

    .Navheader .container ul li {
        padding: 10px 8px;
    }

    .Navheader .container .hide-mobile-menu {
        right: -200px;
    }
}

/* max-width 850px */

/* responsive */